.header { 
    background-color: black;
    color: aliceblue;
    width: 100%;
    text-align: center;

}

.home {
    background-color: beige;
    justify-content: center;
    font-size: x-large;
    color: blue;
}

.home2 {

	background-color: black;
	justify-content: center;
	font-size: x-large;
	color: white;
}

